@model ContatoModel;

@{
    ViewData["Title"] = "Editar contato";
}

<div class="text-center">

    <h1 class="display-4">Editar contato</h1>

</div>

<form asp-controller="Contatos" asp-action="Editar" method="post">

    <input type="hidden" asp-for="Id"/>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" id="nome" aria-describedby="input nome" placeholder="Nome do contato">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" id="email" aria-describedby="email do contato" placeholder="Ex: email@mail.com">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="text" asp-for="Telefone" class="form-control" id="telefone" placeholder="(11) 111111111">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
    <a type="button" class="btn btn-secondary" asp-controller="Contatos" asp-action="Index">Voltar</a>
</form>